NEXT_PUBLIC_SUPABASE_URL=https://uirjqufgsdmmujbtbnos.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oqWMBUoIDdT4_3dUbjCyPA_GCL6yznG
VITE_SUPABASE_URL=https://uirjqufgsdmmujbtbnos.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oqWMBUoIDdT4_3dUbjCyPA_GCL6yznG
